
# Blibiotecas

In [ ]:
import numpy as np
import random as rnd
import matplotlib.pyplot as plt
import pandas as pd

# Operações Basicas

In [ ]:
#Selecionando colunas 

cols = ['clube', 'ano']
df[cols]

In [ ]:
#Renomeando colunas

df.rename(columns = {'I' : 'Impedimentos' }, inplace = True)

In [ ]:
#Filtros

#Texto

df_zagueiros = df[df['posicao'] == 'zag']

df_zagueiros.head()

#Número

df_numerojogos = df[df['jogos_num'] <= 10 ]
df_numerojogos.head()

#Mais de 1 filtro

df[(df['ano'] == 2010) &\ (df['pais'] == 'Brasil')]

In [ ]:
#Apagando colunas especificas 
df2 = df.drop (columns = ['status_id', 'status'])

In [ ]:
#Adicionando nova coluna com uma função 
df['ln_pop'] = df['populacao'].apply(lambda x : np.log(x))

( ) -> Parenteses sempre para funções 

[ ] -> Colchetes sempre para listas

{ } -> Chaves sempre para dicionario python e arquivos : Json

In [ ]:
#Soma
4+5

9

In [ ]:
#Subtração
6-3

3

In [ ]:
#Multiplicação
6*3

18

In [ ]:
#Divisão
6/3

2.0

In [ ]:
#Potencia

3**2

9

In [ ]:
#Log
np.log(5)

1.6094379124341003

In [ ]:
#Raiz quadrada
np.sqrt(9)

3.0

In [ ]:
#Atribuindo Lista

a = [1,2,3,4]
a

[1, 2, 3, 4]

In [ ]:
#Lista Sequencia 
list (range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list (range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list (range(1, 11, 2))

[1, 3, 5, 7, 9]

In [ ]:
#Dicionario

pessoa = {'nome': 'Pythonico', 'altura': 1.65, 'idade': 21}

print(pessoa['nome'])

Estrutura de um loop

For ___ in ___ :
  { operação

In [ ]:
#Conectando dados (Exemplo)

df_dados_paises = pd.read_csv('dados_1997_2011_paises_csv.csv,
                  sep = ';',
                  enconding = 'latin1',
                  decimal = ','
                  )

# Mudando Estrutura da Tabela

In [ ]:
#Pivot
df.pivot(index = 'ano', columns = 'pais', values = 'idh')

In [ ]:
#Melt
df_melt[(df_melt['pais'] == 'Brasil') & (df_melt['indicadores'] == 'idh')]


////////


df_melt[(df_melt['pais'] == 'Brasil') & (df_melt['indicadores'] == 'idh')]

In [ ]:
#Concatenando colunas


#Usando +
df['pais_ano'] = df['pais'] + '-' +df['ano'].astype(str)
df[['pais', 'ano', 'pais_ano']]

# Criar Funções

Estrutura da função 

def **nome da função** (Parametros) :     

            } operações

return 

(Necessario apenas se quiser retornar valores)

In [ ]:
#Função para Potencia

def funcao_potencia(x, potencia):
  
  return x**potencia

In [ ]:
funcao_potencia(4, 2)

In [ ]:
#Função para raiz1

def funcao_raiz1(x, raiz):

    div = 1/raiz

    return x**(div)

In [ ]:
funcao_raiz1(10,3)

In [ ]:
#Função para raiz 2

def funcao_raiz2(x, raiz):
    return x**(1/raiz)

In [ ]:
funcao_raiz2(10,3)

# Criação de vetores Listas com valores aleatórios

In [ ]:
# loop 
for i in range(10):
   print(i)

In [ ]:
# loop com função
for i in range(10):
  print(round(rnd.uniform(0,1), 4))

In [ ]:
# loop com função dentro de uma lista

rnd.seed(20) #Salva os números aleatorios

lista_final = [(round(rnd.uniform(0,1), 4)) for i in range(10)]

lista_final

In [ ]:
#Lista aleatoria com numeros inteiros 

rnd.sample(range(1,61), 6)

# Operações com vetores

In [ ]:
vetor1 = list (range(1,6))
vetor1

In [ ]:
rnd.seed(32)
vetor2 = rnd.sample(range(1,61), 5)
vetor2

In [ ]:
# combinar duas listas

vetor1 + vetor2

In [ ]:
# operações com as listas (+, -, *, /)
vetornp = np.array(vetor1) + np.array(vetor2)

vetornp

# Matrizes

In [ ]:
matrizA = np.array([[2,3], [1,4]])
matrizA

In [ ]:
matrizB = np.random.rand(2,2)
matrizB                                 #Lista com valores aleatorios

In [ ]:
matrizC = matrizA + matrizB  #Operações com matrizes (+,-)

plt.plot(matrizC)

In [ ]:
#Multiplicar Matriz

matrizA.dot(matrizB)

# Graficos

In [ ]:
df = pd.read_csv('dados_1997_2011_paises_csv.csv',
                  sep = ';',
                  encoding ='latin1',
                  decimal = ','
                  )

df.head()

In [ ]:
df_2010 = df[df['ano'] == 2010]
df_2010

In [ ]:
df_2010.sort_values('corrupcao_indice', ascending = True).plot.bar(x = 'pais', y = 'corrupcao_indice', legend = False)
plt.title('Corrupção por país')
plt.xlabel('País')
plt.ylabel('Indice de Corrupção')

In [ ]:
df_brasil = df[df['pais'] == 'Brasil']
df_brasil

In [ ]:
df_brasil.plot.line(x = 'ano', y = 'idh', legend = False)
plt.title('IDH Brasil')
plt.xlabel('Ano')
plt.ylabel('IDH')

In [ ]:
df_brasil.plot.pie(x = 'ano', y = 'idh', legend = False)
plt.title('IDH Brasil')
plt.xlabel('Pais')
plt.ylabel('IDH')

In [ ]:
def funcao (x,y):
  opera = (x*100)/y
  return opera

In [ ]:
soma_morte = df.groupby('country').agg(soma_morte = pd.NamedAgg('dead', 'sum'))
soma_infectados = df.groupby('country').agg(soma_infectados = pd.NamedAgg('infected', 'sum'))
soma_infectados = soma_infectados['soma_infectados']
soma_morte = soma_morte['soma_morte']

In [ ]:
taxa_mortalidade_total = (round(funcao(soma_morte,soma_infectados),2))
taxa_mortalidade_total = pd.DataFrame(taxa_mortalidade_total.sort_values(ascending = False))
taxa_mortalidade_total